html {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding: 0 10px;
  height: auto;
  background: white;
  margin: 0;
}

h1 {
  color: black;
  margin: 0;
  padding-bottom: 5px;
  font-size: 14px;
}


#div2 {
    width: 400px;
    height: auto;
    display: block;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* resize images */
#div2 img {
    width: 100%;
    height: auto;
}

#container {
  text-align: center;
  margin: 0;
}



#qr-canvas {
  margin: auto;
  width: 100%;
  height: 160px;
  max-width: 400px;
  object-fit: cover;
  

}

#div1, #iframe {
    width: 400px;
    height: 520px;
    margin: 0 auto;
    background-color: #777;
}

#iframe {
    display: block;
    border-style:solid;
}
